@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  height: 56px;
  font-size: 19px;
  color: #727272;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}
.header__item {
  height: 56px;
  padding-top: 15px;
  color: inherit;
  text-align: center;
  line-height: 125%;
}
.header__item:nth-child(2) {
  margin-left: 60px;
}
.header__item:nth-child(3) {
  margin-left: 78px;
}
.header__item:nth-child(4) {
  margin-left: 80px;
}
.header__item:nth-child(5) {
  margin-left: 97px;
}
.header__item_profile {
  border-left: 1px solid #E1E7F0;
}
.header__item_profile:first-child {
  width: 150px;
  margin-left: 0;
}
.header__item_profile:nth-child(2) {
  width: 90px;
  padding-top: 20px;
  margin-left: 0;
  font-size: 16px;
}
.header__item_profile:last-child {
  width: 67px;
  margin-left: 0;
}
.header__link {
  color: inherit;
  text-decoration: none;
}
.header__select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.header__btn {
  width: 23px;
  height: 17px;
  margin-top: 4px;
  background-image: url("../../assets/icons/burger.png");
  background-size: contain;
}
.header__profile-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header__profile-img {
  margin-right: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E1E5E8;
  border-right: 1px solid #CFD7DC;
  width: 317px;
  overflow: hidden;
}
.sidebar__logo {
  height: 56px;
  background-color: #2F3B4C;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0 0 42px;
}
.sidebar__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 5px 23px 0;
  border-bottom: 1px solid #BDC9D1;
}
.sidebar__input {
  width: 180px;
  background-color: transparent;
  font-size: 15px;
  color: #2F3B4C;
}
.sidebar__input::placeholder {
  color: #2F3B4C;
}
.sidebar__search-btn {
  height: 20px;
  width: 20px;
  background-image: url(../../assets/icons/lupa.png);
  background-size: contain;
  background-color: transparent;
}
.sidebar__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 25px;
  padding: 0 17px 0 22px;
  background-color: #D5D9DB;
  font-size: 12px;
  color: #2F3B4C;
}
.sidebar__time-run {
  z-index: 1;
}
.sidebar__timer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 17px 0 22px;
  background-color: #2575AA;
}
.sidebar__text {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.sidebar__button {
  height: 25px;
  width: 24px;
  padding: 2px 3px 1px;
  background-color: transparent;
  background-size: contain;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
}
.sidebar__button:hover {
  transform: scale(1.2);
}
.sidebar__button_on {
  background-image: url(../../assets/icons/btn-on.png);
}
.sidebar__button_off {
  background-image: url(../../assets/icons/btn-off.png);
}
.sidebar__time-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background-color: #C1C4C5;
  animation: timer 60s infinite linear;
  z-index: 0;
}

@keyframes timer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.widget {
  height: 213px;
  width: 213px;
  border: 1px solid #BFC2C4;
  margin-bottom: 18px;
}
.widget__title {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 6px 8px;
  border-bottom: 1px solid #BFC2C4;
}
.widget__square {
  height: 11px;
  width: 11px;
  margin-right: 10px;
  background-color: #1A9022;
}
.widget__square_orange {
  background-color: #F5AD3C;
}
.widget__text {
  font-size: 15px;
  color: #2F3B4C;
}
.widget__body {
  position: relative;
}
.widget__png {
  position: absolute;
}
.widget__png_thermostat {
  top: 40px;
  left: 140px;
}
.widget__png_vial {
  top: 83px;
  left: 114px;
}
.widget__btn {
  position: absolute;
  top: 45px;
  right: -20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F1F3F2;
  background-image: url("../../assets/icons/Arrow.png");
  background-position: 8px 7px;
  background-repeat: no-repeat;
  box-shadow: -2px -2px 2px inset #D6D8D7;
}

.tablet {
  border: 1px solid #BFC2C4;
}
.tablet__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 52px;
  padding: 0px 18px;
  border-bottom: inherit;
  font-size: 16px;
  line-height: 125%;
  color: #424C5A;
}
.tablet__header-block {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #BFC2C4;
}
.tablet__header-block:first-child {
  width: 460px;
}
.tablet__header-block:first-child .tablet__header-item {
  padding-top: 5px;
}
.tablet__header-block:first-child .tablet__header-item:first-child {
  text-transform: uppercase;
  width: 90px;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(2) {
  width: 80px;
  color: #2574A9;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(3) {
  width: 185px;
  color: #7B7C7C;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(4) {
  color: #7B7C7C;
}
.tablet__header-block:nth-child(2) {
  width: 335px;
  background-color: #ffffff;
}
.tablet__header-block:nth-child(2) .tablet__header-item {
  padding-left: 20px;
}
.tablet__header-block:nth-child(2) .tablet__header-item:first-child {
  text-transform: uppercase;
  width: 75px;
}
.tablet__header-block:last-child {
  width: 190px;
  padding-left: 15px;
  text-transform: uppercase;
}
.tablet__header-icon {
  height: 12px;
  margin-right: 4px;
}
.tablet__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 0px 15px 0 29px;
  border-top: inherit;
}
.tablet__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tablet__btn-round {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #AFB0C3;
  border-radius: 50%;
  margin-right: 35px;
  color: #AFB0C3;
  font-size: 22px;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
}
.tablet__btn-round::after {
  position: relative;
  content: "New";
  font-size: 12px;
  top: -5px;
  left: -4px;
  font-weight: 400;
}
.tablet__btn-round:last-child::after {
  content: "Open";
  top: 22px;
  left: -5px;
}
.tablet .btn-round__text {
  position: absolute;
  top: -5px;
  left: 5px;
  height: 5px;
  font-weight: 700;
}
.tablet__btn-ellipse {
  width: 105px;
  height: 35px;
  border: 1px solid #11A9EC;
  border-radius: 25px;
  margin-left: 12px;
  background-color: #11A9EC;
  color: #ffffff;
  text-align: center;
}
.tablet__btn-ellipse:last-child {
  color: #11A9EC;
  background-color: #ffffff;
}
.tablet_worklist {
  height: 550px;
  margin-bottom: 15px;
}
.tablet_chart {
  width: 775px;
  margin-right: 15px;
}
.tablet_spectra {
  width: 585px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: 1030px;
  background-color: #F1F3F2;
}
.main__widgets-container {
  position: relative;
  width: 13%;
  width: 250px;
  height: 100%;
  border-right: 1px solid #CDCFCE;
  border-top: 1px solid #D6D8D7;
  padding: 16px 17px;
  box-shadow: -2px 1px 2px inset #D6D8D7;
}
.main__worklist-container {
  display: flex;
  flex-wrap: wrap;
  width: 1350px;
  height: 100%;
  padding: 16px 24px;
  border-top: 1px solid #DCDDDD;
  box-shadow: 0px 1px 2px inset #DCDDDD;
}

.worklist {
  display: flex;
  flex-wrap: wrap;
  height: 435px;
}
.worklist__methods {
  width: 167px;
  border-right: 1px solid #BFC2C4;
}
.worklist__left-block {
  width: 692px;
  border-right: 1px solid #BFC2C4;
  background-color: #ffffff;
  padding: 30px 15px 15px;
  color: #2F3B4C;
}
.worklist__right-block {
  background-color: #ffffff;
}

.methods__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.methods__item {
  height: 41px;
  width: 100%;
  padding-top: 12px;
  padding-left: 15px;
  border-bottom: 1px solid #BFC2C4;
}
.methods__item_check {
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
  width: 168px;
  z-index: 1;
}

.left-block__scheme {
  display: flex;
}
.left-block__control-mode {
  border-top: 1px solid #ACACB4;
  margin-top: 42px;
}
.left-block__post-run {
  margin-top: 42px;
}

.scheme__container {
  width: 380px;
}
.scheme__text-above {
  font-size: 11px;
  margin-left: 34px;
}
.scheme__text-above span:nth-child(2) {
  margin-left: 53px;
}
.scheme__text-above span:nth-child(3) {
  margin-left: 60px;
}
.scheme__img {
  position: relative;
  left: 39px;
  top: 1px;
  width: 310px;
}
.scheme__text-under {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin-top: 3px;
  margin-left: 41px;
}
.scheme__text-under span:nth-child(2) {
  margin-left: 48px;
  width: 130px;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
}
.scheme__text-under span:nth-child(3) {
  margin-left: 60px;
}
.scheme__data {
  width: 174px;
  height: 97px;
  padding: 11px 10px 10px 13px;
  border: 1px solid #2F3B4C;
  margin-left: 64px;
  margin-top: 12px;
  font-size: 13px;
  line-height: 18px;
}

.control-mode__title {
  display: inline-block;
  position: relative;
  top: -9px;
  left: 20px;
  width: 114px;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffffff;
}
.control-mode__checkbox {
  position: relative;
  top: 17px;
  left: 27px;
}
.control-mode__checkbox input {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #12A9EB;
}
.control-mode__checkbox input:checked:after {
  content: "✔";
  font-size: 12px;
  position: absolute;
  top: -1px;
  left: 3px;
  color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button,
select,
input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button:hover {
  transform: scale(1.2);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 1920px;
  min-height: 1080px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
}

.data {
  width: 1600px;
}

/*# sourceMappingURL=index.css.map */
