@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 16px;
  font-size: 17px;
  color: #727272;
}
.header__nav {
  width: 38%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.header__item {
  height: 50px;
  padding-top: 20px;
  color: inherit;
  text-align: center;
  line-height: 125%;
}
.header__item_profile {
  border-left: 1px solid #E1E7F0;
}
.header__item_profile:first-child {
  width: 166px;
  padding-top: 15px;
}
.header__item_profile:nth-child(2) {
  width: 99px;
}
.header__item_profile:last-child {
  width: 70px;
}
.header__link {
  color: inherit;
  text-decoration: none;
}
.header__select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.header__btn {
  width: 22px;
  height: 16px;
  margin-top: 4px;
  background-image: url("../../assets/icons/burger.png");
  background-size: contain;
}
.header__profile-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header__profile-img {
  margin-right: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E1E5E8;
  border-right: 1px solid #CFD7DC;
  width: 14.6%;
}
.sidebar__logo {
  height: 50px;
  background-color: #2F3B4C;
  font-size: 27px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 0 0 37px;
}
.sidebar__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 22px;
  border-bottom: 1px solid #BDC9D1;
}
.sidebar__input {
  width: 180px;
  background-color: transparent;
  font-size: 12px;
  color: #2F3B4C;
}
.sidebar__input::placeholder {
  color: #2F3B4C;
}
.sidebar__search-btn {
  height: 16px;
  width: 16px;
  background-image: url(../../assets/icons/lupa.png);
  background-size: contain;
  background-color: transparent;
}
.sidebar__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 25px;
  padding: 0 17px 0 22px;
  background-color: #D5D9DB;
  font-size: 12px;
  color: #2F3B4C;
}
.sidebar__time-run {
  z-index: 1;
}
.sidebar__timer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 17px 0 22px;
  background-color: #2575AA;
}
.sidebar__text {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.sidebar__button {
  height: 25px;
  width: 24px;
  padding: 2px 3px 1px;
  background-color: transparent;
  background-size: contain;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
}
.sidebar__button:hover {
  transform: scale(1.2);
}
.sidebar__button_on {
  background-image: url(../../assets/icons/btn-on.png);
}
.sidebar__button_off {
  background-image: url(../../assets/icons/btn-off.png);
}
.sidebar__time-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  background-color: #C1C4C5;
  animation: timer 60s infinite linear;
  z-index: 0;
}

@keyframes timer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.main {
  background-color: cadetblue;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button,
select,
input {
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
}

.data {
  width: 85.4%;
}

/*# sourceMappingURL=index.css.map */
