.main {
  display: flex;
  flex-wrap: wrap;
  height: 1030px;
  background-color: #F1F3F2;
}
.main__widgets-container {
  position: relative;
  width: 13%;
  width: 250px;
  height: 100%;
  border-right: 1px solid #CDCFCE;
  border-top: 1px solid #D6D8D7;
  padding: 16px 17px;
  box-shadow: -2px 1px 2px inset #D6D8D7;
}
.main__worklist-container {
  display: flex;
  flex-wrap: wrap;
  width: 1350px;
  height: 100%;
  padding: 16px 24px;
  border-top: 1px solid #DCDDDD;
  box-shadow: 0px 1px 2px inset #DCDDDD;
}

.widget {
  height: 213px;
  width: 213px;
  border: 1px solid #BFC2C4;
  margin-bottom: 18px;
}
.widget__title {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 6px 8px;
  border-bottom: 1px solid #BFC2C4;
}
.widget__square {
  height: 11px;
  width: 11px;
  margin-right: 10px;
  background-color: #1A9022;
}
.widget__square_orange {
  background-color: #F5AD3C;
}
.widget__text {
  font-size: 15px;
  color: #2F3B4C;
}
.widget__body {
  position: relative;
}
.widget__png {
  position: absolute;
}
.widget__png_thermostat {
  top: 40px;
  left: 140px;
}
.widget__png_vial {
  top: 83px;
  left: 114px;
}
.widget__btn {
  position: absolute;
  top: 45px;
  right: -20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F1F3F2;
  background-image: url("../../assets/icons/Arrow.png");
  background-position: 8px 7px;
  background-repeat: no-repeat;
  box-shadow: -2px -2px 2px inset #D6D8D7;
}

.tablet {
  border: 1px solid #BFC2C4;
}
.tablet__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 52px;
  padding: 0px 18px;
  border-bottom: inherit;
  font-size: 16px;
  line-height: 125%;
  color: #424C5A;
}
.tablet__header-block {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #BFC2C4;
}
.tablet__header-block:first-child {
  width: 460px;
}
.tablet__header-block:first-child .tablet__header-item {
  padding-top: 5px;
}
.tablet__header-block:first-child .tablet__header-item:first-child {
  text-transform: uppercase;
  width: 90px;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(2) {
  width: 80px;
  color: #2574A9;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(3) {
  width: 185px;
  color: #7B7C7C;
}
.tablet__header-block:first-child .tablet__header-item:nth-child(4) {
  color: #7B7C7C;
}
.tablet__header-block:nth-child(2) {
  width: 335px;
  background-color: #ffffff;
}
.tablet__header-block:nth-child(2) .tablet__header-item {
  padding-left: 20px;
}
.tablet__header-block:nth-child(2) .tablet__header-item:first-child {
  text-transform: uppercase;
  width: 75px;
}
.tablet__header-block:last-child {
  width: 190px;
  padding-left: 15px;
  text-transform: uppercase;
}
.tablet__header-icon {
  height: 12px;
  margin-right: 4px;
}
.tablet__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 0px 15px 0 29px;
  border-top: inherit;
}
.tablet__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tablet__btn-round {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #AFB0C3;
  border-radius: 50%;
  margin-right: 35px;
  color: #AFB0C3;
  font-size: 22px;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
}
.tablet__btn-round::after {
  position: relative;
  content: "New";
  font-size: 12px;
  top: -5px;
  left: -4px;
  font-weight: 400;
}
.tablet__btn-round:last-child::after {
  content: "Open";
  top: 22px;
  left: -5px;
}
.tablet .btn-round__text {
  position: absolute;
  top: -5px;
  left: 5px;
  height: 5px;
  font-weight: 700;
}
.tablet__btn-ellipse {
  width: 105px;
  height: 35px;
  border: 1px solid #11A9EC;
  border-radius: 25px;
  margin-left: 12px;
  background-color: #11A9EC;
  color: #ffffff;
  text-align: center;
}
.tablet__btn-ellipse:last-child {
  color: #11A9EC;
  background-color: #ffffff;
}
.tablet_worklist {
  height: 550px;
  margin-bottom: 15px;
}
.tablet_chart {
  width: 775px;
  margin-right: 15px;
}
.tablet_spectra {
  width: 585px;
}

.worklist {
  display: flex;
  flex-wrap: wrap;
  height: 435px;
}
.worklist__methods {
  width: 167px;
  border-right: 1px solid #BFC2C4;
}
.worklist__left-block {
  border-right: 1px solid #BFC2C4;
  background-color: #ffffff;
}
.worklist__right-block {
  background-color: #ffffff;
}

.methods__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.methods__item {
  height: 41px;
  width: 100%;
  padding-top: 12px;
  padding-left: 15px;
  border-bottom: 1px solid #BFC2C4;
}
.methods__item_check {
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
  width: 168px;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
