$border: 1px solid #BFC2C4;

@import 'widget';
@import 'tablet';


.main {
  display: flex;
  flex-wrap: wrap;
  height: 1030px;
  background-color: #F1F3F2;

  &__widgets-container {
    position: relative;
    width: 13%;
    width: 250px;
    height: 100%;
    border-right: 1px solid #CDCFCE;
    border-top: 1px solid #D6D8D7;
    padding: 16px 17px;
    box-shadow: -2px 1px 2px inset #D6D8D7;
  }
  &__worklist-container {
    display: flex;
    flex-wrap: wrap;
    //width: 87%;
    width: 1350px;
    height: 100%;
    padding: 16px 24px;
    border-top: 1px solid #DCDDDD;
    box-shadow: 0px 1px 2px inset #DCDDDD;
  }
}
.worklist {
  display: flex;
  flex-wrap: wrap;
  height: 435px;

  &__methods {
    width: 167px;
    border-right: $border;
  }
  &__left-block {
    width: 692px;
    border-right: $border;
    background-color: #ffffff;
    padding: 30px 15px 15px;
    color: #2F3B4C;
  }
  &__right-block {
    background-color: #ffffff;
  }
}
.methods {
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__item {
    height: 41px;
    width: 100%;
    padding-top: 12px;
    padding-left: 15px;
    border-bottom: $border;

    &_check {
      background-color: #ffffff;
      border-left: 1px solid #ffffff;
      width: 168px;
      z-index: 1;
    }
  }
}
.left-block {
  &__scheme {
    display: flex;
  }
  &__control-mode {
    border-top: 1px solid #ACACB4;
    margin-top: 42px;
  }
  &__post-run {
    margin-top: 42px;
  }
}
.scheme{
  &__container {
    width: 380px;
  }
  &__text-above {
    font-size: 11px;
    margin-left: 34px;
    span:nth-child(2) {
      margin-left: 53px;
    }
    span:nth-child(3) {
      margin-left: 60px;
    }
  }
  &__img {
    position: relative;
    left: 39px;
    top: 1px;
    width: 310px;
  }
  &__text-under {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    margin-top: 3px;
    margin-left: 41px;
    span:nth-child(2) {
      margin-left: 48px;
      width: 130px;
      line-height: 15px;
      text-align: center;
      font-weight: 500;
    }
    span:nth-child(3) {
      margin-left: 60px;
    }
  }
  &__data {
    width: 174px;
    height: 97px;
    padding: 11px 10px 10px 13px;
    border: 1px solid #2F3B4C;
    margin-left: 64px;
    margin-top: 12px;
    font-size: 13px;
    line-height: 18px;
  }
}
.control-mode {
  &__title {
    display: inline-block;
    position: relative;
    top: -9px;
    left: 20px;
    width: 114px;
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 700;
    background-color: #ffffff;
  }
  &__checkbox {
    position: relative;
    top: 17px;
    left: 27px;
    input {
      -webkit-appearance: none;
      position: relative;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      background-color: #12A9EB;
    }
    input:checked:after {
      content: '\2714';
      font-size: 12px;
      position: absolute;
      top: -1px;
      left: 3px;
      color: #ffffff;
    }
  }

}